extends layout

block content

    .container.d-flex.justify-content-end.flex-column.mt-3

        // slide show for old and current images
        #carouselExampleDark.carousel.carousel-dark.slide(data-bs-ride="carousel")

            .carousel-indicators
                - var slide = 0
                - while (slide < rua.old_images.length + rua.new_images.length)
                    if (slide === 0)
                        button(data-bs-target="#carouselExampleDark", data-bs-slide-to=slide, class="active", aria-current="true", aria-label="Slide " + slide)
                    else
                        button(data-bs-target="#carouselExampleDark", data-bs-slide-to=slide, aria-label="Slide " + slide)
                    - slide++

            .carousel-inner(style="aspect-ratio: 16 / 9;")

                each old_image, index in rua.old_images
                    .carousel-item(class={active: index === 0, 'mt-30': index === 0} data-bs-interval="5000")
                        img.d-block.w-100.rounded(style="aspect-ratio: 16 / 9;", src=`http://localhost:3000/imagens/antigo/${old_image.path.split('/').pop()}`)
                        .carousel-caption.d-none.d-md-block
                            h3= old_image.subst

                each new_image in rua.new_images 
                    .carousel-item(data-bs-interval="5000")
                        img.w-100.rounded(style=" aspect-ratio: 16 / 9;", src=`http://localhost:3000/imagens/atual/${new_image.split('/').pop()}`)
                        .carousel-caption.d-none.d-md-block
                            h3 #{rua.name} - Vista Atual

            button.carousel-control-prev(type="button", data-bs-target="#carouselExampleDark", data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous

            button.carousel-control-next(type="button", data-bs-target="#carouselExampleDark", data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next

        p.d-inline-flex.gap-3.mt-3
            a.button.btn.btn-secondary.btn-lg.btn-block.w-100(href='/ruas', style="text-decoration: none;") 
                | Voltar
            a.button.btn.btn-success.btn-lg.btn-block.w-100(href='/ruas/editar/' + rua['_id'] , style="text-decoration: none;")
                | Editar
            a.button.btn.btn-danger.btn-lg.btn-block.w-100(href='/ruas/eliminar/' + rua['_id'] , style="text-decoration: none;")
                | Eliminar

        // collapsing buttons for locals, entities and dates
        p.d-inline-flex.gap-3
            button.btn.btn-secondary.btn-lg.btn-block.w-100(data-bs-toggle='collapse', href='#collapsePlaces', role='button', aria-expanded='false', aria-controls='collapsePlaces')
                | Lugares Referidos
            button.btn.btn-secondary.btn-lg.btn-block.w-100(data-bs-toggle='collapse', href='#collapseEntities', role='button', aria-expanded='false', aria-controls='collapseEntities')
                | Entidades Referidos
            button.btn.btn-secondary.btn-lg.btn-block.w-100(type='button', data-bs-toggle='collapse', data-bs-target='#collapseDates', aria-expanded='false', aria-controls='collapseDates')
                | Datas Referidas
        
        // list of locals
        .collapse#collapsePlaces
            .card.card-body.mb-3
                .row
                    for lugar, index in lugares
                        if index > 0 && index % 4 == 0 
                            .w-100
                        .col.text-left= lugar.name 

        // list of entities
        .collapse#collapseEntities
            .card.card-body.mb-3
                .row
                    for entidade, index in entidades
                        if index > 0 && index % 4 == 0 
                            .w-100
                        .col.text-left= entidade.name 
        
        // list of dates
        .collapse#collapseDates
            .card.card-body.mb-3
                .row
                    for data, index in datas
                        if index > 0 && index % 4 == 0 
                            .w-100
                        .col.text-left= data.name 

        // street description
        .card.card-body(style="text-align: justify;")
            for paragraph in rua.description
                p.m-1= paragraph

        // table of houses
        table.table.table-hover.table-responsive.mt-3
            thead
                tr(class="table-secondary")
                    th(scope='col') ID
                    th(scope='col') Enfiteuta
                    th(scope='col') Pagamento
                    th(scope='col') Vista
                    th(scope='col') Descrição
            tbody
                for casa in rua.houses
                    tr
                        th(scope='row')= casa['_id']
                        td= casa.enfiteuta
                        td= casa.subst
                        td= casa.vista
                        td= casa.desc[0]

        .card.card-body.mb-3
            form.form(method="post" action=`/ruas/comentarios/{$rua['_id']}`)
                .row.m-0.p-0
                    .col-12.col-sm-4.col-md-9.p-0
                        .form-group
                            textarea.form-control(rows="3", placeholder="Inserir comentário", name="comment", required)
                    .col-3.col-md-3.pr-3(style="padding-right: 0px")
                        button.btn.btn-success.btn-lg.btn-block.w-100.h-100(style="width: 15%", type="submit")
                            | Submeter

            // user and comment
            .card.border-dark.mb-0.mt-3.w-100
                b.card-header Username
                .card-body.text-dark
                    p.card-text This is a comment!!!