extends layout

block content

    .container.d-flex.justify-content-end.flex-column.mt-3

        .card.mb-3.border-dark
            h5.card-header.fw-bold Informações
            .card-body
                .input-group.mb-3
                    span.input-group-text Username
                    input.form-control(type="text", value=utilizador.username, readonly)
                .input-group.mb-3
                    span.input-group-text Nome
                    input.form-control(type="text", value=utilizador.name, readonly)
                .input-group.mb-0
                    span.input-group-text Nível
                    input.form-control(type="text", value=utilizador.level, readonly)

        .card.mb-3.border-dark
            h5.card-header.fw-bold Ruas Favoritas
            .card-body.overflow-scroll.pb-0(style="max-height: 245px;")
                ul.list-group(style="font-size: 17px;")

                    if (ruas.length == 0)
                        li.list-group-item.list-group-item-action.list-group-item-secondary.text-center.mb-3
                            | Ainda sem ruas favoritas

                    each rua in ruas        
                       a(href=`/ruas/${rua['_id']}` style="text-decoration: none;")
                            li.list-group-item.list-group-item-action.list-group-item-secondary.text-center.mb-3
                                | #{rua.name}

        .card.mb-3.border-dark
            h5.card-header.fw-bold Comentários
            .card-body.overflow-scroll.pb-0(style="max-height: 339px;")

                if (comentarios.length == 0)
                    ul.list-group(style="font-size: 17px;")
                        li.list-group-item.list-group-item-action.list-group-item-secondary.text-center.mb-3
                            | Ainda sem comentários

                each comentario in comentarios
                    a.card.border-dark.bg-light.mb-3.w-100(href=`/ruas/${comentario.streetId}#comment-text-${comentario['_id']}`, style="text-decoration: none;")
                        b.card-header= comentario.streetName
                        .card-body.text-dark
                            p.card-text= comentario.text

        a.btn.btn-secondary.btn-lg.btn-block.w-100.mb-3(href="/") Voltar